/* Fonts */
@font-face {
  font-family: 'proxima-nova';
  src: local('proxima-nova'),
    url('font/Proxima-Nova-Thin.woff') format('woff');
}
@font-face {
  font-family: 'ara-jozoor';
  src: local('ara-jozoor'),
    url('font/Ara-Jozoor-Regular.woff') format('woff');
}

/* Variables */
:root {
  --light: #fafafa;
  --dark: #686868;
  --main-bg: #2a2a2a;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 20px;
}

body {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.25;
  color: var(--light);
  background-color: var(--main-bg);

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ::selection {
  background-color: var(--dark);
}

/* Pages */
section {
  position: relative;
  height: 100%;
}

#section1 { background-color: var(--main-bg); }
#section2 { background-color: #242424; }
#section3 { background-color: #202020; }

/* Animate */
section.animate .container {
  opacity: 1;
  transform: translateY(0);
}

/* Particles */
canvas {
  height: 100%;
  width: 100%;
  display: block;
}

/* Link */
a {
  color: var(--light);
  border-bottom: 1px solid var(--light);
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: var(--dark);
  border-color: var(--dark);
}

/* Text */
.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  box-sizing: border-box;

  opacity: 0;
  transform: translateY(4rem);
  transition: all 0.7s ease;
}

.info {
  margin: 0;
  font-size: 3em;
  font-size: max(2em, 4vw);
  max-width: 11.5em;
}
.info.email {
  font-size: 1em;
  margin-top: 1em;
  display: inline-block;
}
.info.arabic {
  font-family: ara-jozoor, Helvetica, sans-serif;
  font-size: 9em;
  font-size: min(9em, 50vw);
  opacity: 0.2;
  transform: translateY(-0.1em);
}

/* Arrow */
.link {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  padding: 1.5em;
  border: none;
  cursor: pointer;
  width: 1em;
  height: 1em;
  text-align: center;
}
.link:hover {
  transform: translateY(3px);
}
.link.up:hover {
  transform: translateY(-3px);
}
.github {
  left: unset;
  right: 0;
}
.github:hover { opacity: 0.4; }